$background: #EEEEEE;
$headerBackground: #25313F;
$headerBorderBottom: #31B9E4;
$fogotPassLink: #1F7A54;
$textPrimary: #222222;
$textSecondary: #333333;
$textLogo: #0000003D;
$textLoginBtn: #1F2834;
$textFooter: #616161;
$inputBorderBottom: #000000;
$inputLabel: #666666;
$loginBoxBackground: #FFFFFF;
$loginBoxBorder: #213E543D;
$loginBoxBorderTop: #3AC7EC;
$loginBtnBox: #0000000D;
$loginBtn: #3FD28B;
$verticalRule: #0000001F;
$footerBackground: #E0E1E1;