Mobile Nav header.mobile {
    flex-direction: column;

}

nav.mobile {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: #fff;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    width: 280px;
    height: auto;
    box-shadow: 0px 13px 20px #0000003D;
}

nav.mobile .item {
    width: 100%;
    min-height: 3rem;
    padding: 1em;
}

nav.mobile .item .link {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.mobile .item img {
    display: block;
}

nav.mobile a {
    color: #1F7A54;
    font-weight: 600;

}

nav .item.mobile.active a {
    color: #1F7A54;
}

nav .item.mobile.active {
    background-color: #F3F3F3;
    padding-bottom: 0;

}

nav .item.mobile.active::after {
    display: none;
}



#menu-button.open {
    filter: brightness(0) invert(1);
}